<!--
@Description 
@Author zhangjun
@Data 2020/4/13
@Time 17:11
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志模块</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container" id="container">
    <!--<table class="table table-hover">-->
    <!--<tr>-->
    <!--<th>客户名</th>-->
    <!--<th>授权码</th>-->
    <!--<th>端口</th>-->
    <!--<th>流量</th>-->
    <!--<th>日期</th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>张三</td>-->
    <!--<td>ddhaksak121</td>-->
    <!--<td>9980</td>-->
    <!--<td>12.3 M</td>-->
    <!--<td>2020-02-18</td>-->
    <!--</tr>-->
    <!--</table>-->
</div>
</body>

<script rel="script" type="application/javascript" src="/js/log.js"></script>
</html>